<%= render partial: 'flash_message', locals: {messages: flash} %>


<h1>Sent messages</h1>
<%= @messages.count %> messages


<% @messages.reverse_each do |message| %>
	<%= render partial: "thumbnail2", locals: {a: message}%>
<% end %>
