<%= render partial: 'flash_message', locals: {messages: flash} %>
<h1>Users</h1>
  <%= @users.count %> users


  <% @users.reverse_each do |user| %>
  	<%= render partial: "thumbnail", locals: {a: user}%>
<% end %>	
