<%= render partial: 'flash_message', locals: {messages: flash} %>

<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://i.imgur.com/rjseIn2.png"  height="200" width="200" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title"><%= @user.name %></h4>
    <p class="card-text"><%= @user.email %></p>
    <a href="#" class="btn btn-primary">Add friend</a>
  </div>
</div>
