.message-thumbnail {
    @extend .card !optional;
    margin-bottom: 10px;
    .card-text {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 10px;
    }
}

.message-highlight {
    background-color: yellow;
}
